[user]
	email = lazaro1herrera@gmail.com
	name = Tainted-Fool
	username = Tainted-Fool
[core]
	editor = "code --new-window --wait"
	pager = cat
[credential]
	helper = store
[color]
	ui = auto
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --new-window --wait --diff $LOCAL $REMOTE"
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait $MERGED"
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
[alias]
	alias = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	cm = commit
	co = checkout
	df = diff
	dfs = diff --staged
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	reword = commit --amend # Edit last commit message
	st = status
	oops = commit --amend --no-edit # Add files to previous commit WITHOUT changing message
	uncommit = reset --soft HEAD~1 # Undo last commit but keep files in stage area
	untrack = rm --cache --	# Remove files from Git but not from disk
