# ignore vim folders
~/.vim/*
vim/.vim/*

# ignore nvim plugin folder
nvim/.config/nvim/plugin/*

# ignore lazy plugin json file
lazy-lock.json

# ignore tmux plugin folder
tmux/.config/tmux/plugins/*

# ignore oh-my-zsh plugin folder
oh-my-zsh/.oh-my-zsh/custom/plugins/*
